body {
  	font-family: fantasy;
	margin: 0;
	padding: 0;
	color: #3F3FAA;
	display: flex;
	flex-direction: column;
	background-color: #F9F9FE;
}


.header{
	background-color: #1E577D;
	text-align: left;
	color:#EEE;
}

.logo{
	max-height: 50px;
	margin: 0px 30px;
	display:flex;
}


.logotip{
	width: 50px;
	height: 50px;
}


.smallintrodaction{
	font-size: 35px;
	height: 50px;
	cursor: default;
	color: FFF;
}

.profile{
	position: absolute;
	margin: 15px; 15px;
	right: 0px;
	top: 0px;
}

.login{
	margin: 15px; 15px;
	text-decoration: none;
	color: #B4B4B4;
}

.regist{
	margin: 15px; 15px;
	text-decoration: none;
	color: #B4B4B4;
}

.regist:hover{
    text-decoration: none;
	color: #BBBBF1;
}

.login:hover{
    text-decoration: none;
	color: #BBBBF1;
}

.menu ul li{
	list-style: none;
	float: left;
	text-align: center;
}

.menu ul li a{
	color:#EBE4D8;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	text-decoration: none;
	width: 12vw;
	font-size: 20px;
	height: 50px;
	cursor: pointer;

}

.menu ul li a:hover{
	background:#0C0D0C;
}

.container_box{
    display: block;
	font-size: 25px;
	margin: 60px;
	margin-left: 200px;
	margin-right: 200px;
}

.container_right{
    width: 50%;
	display:inline-block;
}

.show_container{
    width: auto;
    display:inline-block;
    transform: translateY(-23vh);
}

.introdaction{
	color: #DD4D4D;
}

.generatoring_space{
	text-align: center;
}

.errors{
	color: #FF0000;
}

.give_place_to_buttton{
    display: inline-block;
    width: 70%;
}

.search_place{
    margin-bottom: 30px;
}

.small_text{
    font-size: 15px;
    color: #BBBBF1;
}

.box{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#show_info_button{
    margin-top: -30px;
    margin-right:20px;
    float: right;
}
