body {
  	font-family: fantasy;
	margin: 0;
	padding: 0;
	color: #3F3FAA;
	display: flex;
	flex-direction: column;
	background-color: #F9F9FE;
}


.header{
	background-color: #1E577D;
	text-align: left;
	color:#EEE;
}

.logo{
	max-height: 50px;
	margin: 0px 30px;
	display:flex;
}


.logotip{
	width: 50px;
	height: 50px;
}


.smallintrodaction{
	font-size: 35px;
	height: 50px;
	cursor: default;
	color: FFF;
}

.profile{
	position: absolute;
	margin: 15px; 15px;
	right: 0px;
	top: 0px;
}

.login{
	margin: 15px; 15px;
	text-decoration: none;
	color: #B4B4B4;
}

.regist{
	margin: 15px; 15px;
	text-decoration: none;
	color: #B4B4B4;
}

.regist:hover{
	color: #BBBBF1;
}

.login:hover{
	color: #BBBBF1;
}

.menu ul li{
	list-style: none;
	float: left;
	text-align: center;
}

.menu ul li a{
	color:#EBE4D8;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -31px;
	display: inline-block;
	text-decoration: none;
	width: 12vw;
	font-size: 20px;
	height: 35px;
	padding-top: 30px;
	cursor: pointer;
	animation: appiar_text 3s;
}

.menu ul li a:hover{
	background:#0C0D0C;
}

.container{
	font-size: 25px;
	margin: 60px;
	margin-left: 200px;
	margin-right: 200px;
}

.introdaction{
	color: #DD4D4D;
}

.generatoring_space{
	text-align: center;
}

.errors{
	color: #FF0000;
}