<!DOCTYPE html>
<html lang="ru">


<head>
	<meta charset="UTF-8">
	<title>Pypass</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainstyle.css') }}">
</head>



<body>

	<div class="header">
		<div class="logo">
			<a href="{{ url_for('index') }}"><img class="logotip" src="{{ "static/data/key.png" }}" alt="logo"></a>
			<span class="smallintrodaction">Pypass</span>
			<div class="menu">
				<ul>
					<li><a href="{{ url_for('View_list') }}">Что-то 1</a></li>
					<li><a href="{{ url_for('Adding_info') }}">Что-то 2</a></li>
					<li><a href="{{ url_for('create_pass') }}">Генерация пароля</a></li>
					
				</ul>
				<div class="profile">
					<a href="{{ url_for('login') }}" class="login">Авторизаяция</a>
					<a href="{{ url_for('regist') }}" class="regist">регистрация</a>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
    		{% block content %}{% endblock %}
	</div>

	<div class="footer">

	</div>


</body>


</html>			