<!DOCTYPE html>
<html lang="ru">


<head>
	<meta charset="UTF-8">
	<title>PyKey</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainstyle.css') }}">
</head>



<body>

	<div class="header">
		<div class="logo">
			<a href="{{ url_for('index') }}"><img class="logotip" src="{{ url_for('static', filename='data/key.png') }}" alt="logo"></a>
			<span class="smallintrodaction">PyKey</span>
			<div class="menu">
				{% if current_user.is_authenticated %}
					<ul>
						<li><a href="{{ url_for('View_list') }}">просмотр записей</a></li>
						<li><a href="{{ url_for('Adding_info') }}">добавление записей</a></li>
						<li><a href="{{ url_for('create_pass') }}">Генерация пароля</a></li>
					</ul>
				{% else %}
					<ul>
						<li><a href="{{ url_for('create_pass') }}">Генерация пароля</a></li>
					</ul>
				{% endif %}
				<div class="profile">
					{% if current_user.is_authenticated %}
						<a href="{{ url_for('profile') }}" class="login">{{ current_user.name }}</a>
					{% else %}
						<a href="{{ url_for('login') }}" class="login">Авторизаяция</a>
						<a href="{{ url_for('regist') }}" class="regist">регистрация</a>

					{% endif %}
				</div>
			</div>
		</div>
	</div>


	<div class="container_box">
    		{% block content %}{% endblock %}
	</div>

	<div class="footer">

	</div>


</body>


</html>			