{% extends "base.html" %}

{% block content %}

<div class="generatoring_space">
<form action="" method="post">
	{{ form.csrf_token }}
    <p>
        <div class="result_box">{{ form.result_box(class="form-control", value=res) }}</div>
	  {% for error in form.result_box.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.numbers() }} {{ form.numbers.label }}</p>
    <p>{{ form.letters_small() }} {{ form.letters_small.label }}</p>
    <p>{{ form.letters_big() }} {{ form.letters_big.label }}</p>
    <p>{{ form.symbows() }} {{ form.symbows.label }}</p>
    <p>
	  {{ form.password_length.label }}
        <div class="password_length">{{ form.password_length(class="form-control") }}</div>
	  {% for error in form.password_length.errors %}
            <p class="alert alert-danger" role="alert">
                <div class='errors'>{{ error }}</div>
            </p>
        {% endfor %}
    </p>
    <p>{{ form.create(type="submit", class="btn btn-primary") }}</p>
</form>
</div>	

{% endblock %}
