{% extends "base.html" %}

{% block content %}

<form action="" method="post">
	{{ form.csrf_token }}
    <div class="conteriner_view">
        <div class="container_right">
            <p>{{ form.numbers() }} {{ form.numbers.label }}</p>
            <p>{{ form.letters_small() }} {{ form.letters_small.label }}</p>
            <p>{{ form.letters_big() }} {{ form.letters_big.label }}</p>
            <p>{{ form.symbows() }} {{ form.symbows.label }}</p>


            {{ form.password_length.label }}
            <div class="password_length">{{ form.password_length(class="form-control") }}</div>
            {% for error in form.password_length.errors %}
                <p class="alert alert-danger" role="alert">
                <div class='errors'>{{ error }}</div>
                </p>
            {% endfor %}

            <div class='errors'>{{ error }}</div>

        </div>

        <div class="show_container">
            {{ form.result_box.label }}
            <div class="result_box">{{ form.result_box(class="form-control", value=res) }}</div>
             {% for error in form.result_box.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            <p>{{ form.create(type="submit", class="btn btn-dark") }}</p>
        </div>
    </div>

</form>
{% endblock %}
