{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}

    {{ form.new_pass.label }}<br>
    {{ form.new_pass(class="form-control") }}
    {% for error in form.rep_new_pass.errors %}
    <div class="alert alert-danger" role="alert">
        <div class='errors'>{{ error }}</div>
    </div>
    {% endfor %}

    {{ form.rep_new_pass.label }}<br>
    {{ form.rep_new_pass(class="form-control") }}
    {% for error in form.rep_new_pass.errors %}
    <div class="alert alert-danger" role="alert">
        <div class='errors'>{{ error }}</div>
    </div>
        {% endfor %}
    <p>{{ form.done(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
